@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 375px;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: -42px;
}

.menu {
  margin-bottom: 30px;
  margin-right: 15px;
}

.intro {
  margin-top: 30px;
  margin-left: 16px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-bottom: 30px;
}

.para {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  padding-right: 15px;
  text-align: left;
  margin-bottom: 25px;
}

footer a {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -5px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  padding-top: 30px;
}

.intro a {
  background-color: #1a2236;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 13px 90px;
  text-decoration: none;
}

.works a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  text-decoration: none;
  border: 0.45px solid white;
  margin-left: 16px;
}

.loto {
  width: 375px;
  background-color: #1a2236;
}

.loto:first-child {
  background-color: aliceblue;
}

.intro a:hover {
  background-color: #001f6d;
}

.intro a:active {
  background-color: #0048fd;
}

.rectangle {
  width: 375px;
  margin-top: 50px;
}

.project h2 {
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  padding-left: 16px;
}

.works {
  display: grid;
  border: none;
}

.works div {
  width: 375px;
  height: 160px;
  background-color: #1a2236;
}

.project-name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  line-height: 80%;
  padding-left: 16px;
  margin-bottom: 0;
}

.works ul {
  display: flex;
  list-style-type: none;
  justify-content: left;
  margin-bottom: 30px;
  margin-top: 10px;
}

.works li {
  background-color: #98dede;
  margin-left: -24px;
  margin-right: auto;
  padding: 10px;
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
}

.go-to-project img {
  padding-left: 10px;
}

.works a:hover {
  background-color: #001f6d;
}

.works a:active {
  background-color: #0048fd;
}

.about-page {
  padding-left: 16px;
  margin-left: 6px;
}

.about-page h2 {
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 0;
}

.about-me {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #1a2236;
  padding-right: 10px;
  padding-bottom: 30px;
}

.cv-link {
  background-color: #1a2236;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 13px 100px;
  text-decoration: none;
}

.cv-link img {
  padding-left: 15px;
  padding-top: 10px;
}

.cv-link:hover {
  background-color: #001f6d;
}

.cv-link:active {
  background-color: #0048fd;
}

.lang {
  margin-top: 60px;
  width: 330px;
  height: 289px;
  background-color: #1c528a;
}

.framework,
.skills {
  width: 330px;
  height: 289px;
  margin-top: 20px;
}

.framework {
  background-color: #e2505c;
}

.skills {
  background-color: #febf52;
}

.lang p,
.framework p,
.skills p {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  padding-left: 50px;
  padding-top: 40px;
}

.lang ul,
.framework ul,
.skills ul {
  padding-left: 70px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

span {
  margin-left: -9px;
}

.lan-img {
  display: block;
  padding-left: 69%;
  margin-top: -29px;
}

.fra-img {
  display: block;
  padding-left: 72%;
  margin-top: -49px;
}

.ski-img {
  display: block;
  padding-left: 69%;
  margin-top: -55px;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: #f9f9fa;
}

section .text h2 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  padding-left: 35px;
}

section .text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #1a2236;
  padding-left: 35px;
  padding-right: 20px;
  margin-top: -20px;
  text-align: left;
}

section form {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

section form input {
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 299px;
  height: 52px;
  margin-left: 35px;
  margin-top: 10px;
}

form textarea {
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 299px;
  height: 112px;
  margin-left: 35px;
  margin-top: -5px;
}

form button {
  margin-top: 20px;
  margin-left: 35px;
  display: block;
  background-color: #1a2236;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 10px 2px;
  width: 303px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0048fd;
}

form button:active {
  background-color: #1c528a;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
  padding-left: 16px;
  padding-top: 20px;
  margin-top: 80px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: 10px;
  padding-bottom: 40px;
}

.fcv {
  display: inline-block;
  margin-bottom: -5px;
}

